body {
  font-family: 'Oswald', sans-serif;
  padding: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(mainbg.jpg);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  color: yellow;
  text-align: center;
  background-color: black;
}
h2 {
  color: white;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

#addTaskForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.task-list {
  margin-bottom: 10px;
}
.task {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.task input[type="text"], .task select {
  margin-right: 5px;
}
.task button {
  margin-left: 5px;
}
#taskInfo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#taskInfo td, #taskInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #fffd9f;
  color: black;
}
#totalTime {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  margin-top: 30px;
  font-size: 30px;
}